:root {
  /* palette */
  --main-color: rgb(3, 26, 49);
  --main-accent: rgb(116, 206, 200);
  --aqua-accent: rgb(108, 180, 175);
  --nav-accent: rgb(249, 111, 37);
  --green: rgb(32, 78, 53);
  --grey: rgb(48, 58, 70);
  --blue: rgb(6, 89, 122);
  --gold: rgb(250, 181, 7);
  --light-gold: rgb(251, 212, 113);
  --light: rgb(239, 247, 253);
  /* spacing */
  --base-space: 1em;
  --md-space: 2em;
  --lg-space: 3em;
  --half-space: 6px;
}
body {
  background-color: var(--main-color);
  background-image: url(./images/gradient\ texture.jpeg);
  background-blend-mode: multiply;
  background-size: 50%;
}
.navbar {
  background-color: black;
  padding: var(--lg-space);
}
.navbar h2 {
  margin-left: 1em;
  font-size: 42px;
  color: var(--light);
}
.navbar h3 {
  margin-left: var(--base-space);
  font-size: 32px;
}
.navbar-title {
  color: var(--gold);
}
.navbar-nav {
  margin-left: var(--lg-space);
  font-size: x-large;
}

.container1 {
  margin: var(--base-space);
  margin-top: var(--lg-space);
  padding: var(--base-space);
}
img {
  margin-bottom: var(--lg-space);
  margin-top: var(--md-space);
  border: 2px solid rgba(7, 7, 8, 0.769);
  border-radius: 10px;
  box-shadow: 7px 7px 10px rgb(36, 36, 36);
}

.projects-title {
  background-color: var(--blue);
  color: var(--light);
  margin-left: var(--md-space);
  padding: var(--lg-space);
}

.projects-body {
  background-color: var(--grey);
  color: var(--light);
  padding: var(--lg-space);
}

.project-head {
  padding-bottom: var(--base-space);
  border-bottom: 2px solid black;
}

a {
  color: var(--main-accent);
}
/* .night-in {
} */
a:hover {
  color: var(--aqua-accent);
  text-decoration: none;
}
.container2 {
  margin: var(--base-space);
  padding: var(--base-space);
}

.weather-dash {
  margin-bottom: var(--base-space);
}

.projects {
  background-color: var(--blue);
  color: var(--light);
  margin-right: var(--md-space);
  padding: var(--lg-space);
}

.about {
  background-color: var(--blue);
  color: var(--light);
  margin-right: var(--md-space);
  padding: var(--lg-space);
}

img:hover {
  opacity: 0.5;
}
.night-in {
  margin-top: var(--half-space);
}
.self {
  margin-top: var(--half-space);
}

.self:hover {
  opacity: 1;
}
footer {
  background-color: black;
  color: var(--light);
  font-family: var(--font);
  font-size: larger;
  text-align: center;
  padding: 2em;
  border: var(--darkdark) var(--hafdistance);
}

.foot-a {
  color: var(--nav-accent);
}
.foot-a:hover {
  color: var(--gold);
}
.foot-b:hover {
  color: var(--aqua-accent);
}

@media screen and (max-width: 800px) {
  body {
    background-color: var(--main-color);
    background-image: url(./images/gradient\ texture.jpeg);
    background-blend-mode: multiply;
    background-size: 100%;
  }
  .projects-title {
    background-color: var(--blue);
    color: var(--light);
    margin-top: var(--md-space);
    padding: var(--lg-space);
  }
  .video-card {
    margin-top: var(--lg-space);
  }
}

